.formm{
    margin: 20px;
}
h6{
    margin: 0px;
    margin-bottom: 5px;
}
h1{
    margin: 10px;
}
input{
    margin-bottom: 10px !important;
    margin-left:0px  !important;
}
#bt{
    margin: 20px !important;
    margin-left: 0px !important;
    padding-right:40px !important ;
    padding-left: 40px !important;
    background-color: white !important;
    border: 1px solid #F29727;
    color: #F29727;
    font-weight: normal;
}

#bt:hover{
    margin: 20px !important;
    margin-left: 0px !important;
    padding-right:40px !important ;
    padding-left: 40px !important;
    background-color: #F29727 !important;
    border: none;
    color: white;
    font-weight: normal;
}
select:focus{
    border-color: rgb(245, 178, 95) !important;
    box-shadow: 0 1px 1px #F29727 inset, 0 0 8px #F29727 !important;
}